/* Container principal */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Caixa principal reutilizável */
.auth-card {
  display: flex;
  width: 700px;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}

/* Lado esquerdo com imagem */
.auth-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Lado direito com formulário */
.auth-right {
  width: 50%;
  padding: 30px;
  text-align: center;
}

.auth-right h1 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #333;
}

/* Formulários */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 90%;
}

.auth-label {
  font-size: 14px;
  text-align: left;
  color: #333;
  font-weight: bold;
}

/* Inputs */
.auth-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Botões */
/* From Uiverse.io by adamgiebl */ 
.auth-submit-button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.auth-submit-button:hover {
  border: 1px solid white;
}

.auth-submit-button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}


/* Link para alternar entre login e registro */
.auth-toggle-text {
  margin-top: 15px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.auth-toggle-text span {
  text-decoration: underline;
}

.auth-toggle-text:hover span {
  text-decoration: none;
}

/* Responsivo */
@media (max-width: 768px) {
  .auth-card {
    flex-direction: column;
    width: 90%;
  }

  .auth-left {
    width: 100%;
  }

  .auth-form {
    width: 80%;
  }

  .auth-right {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}
